name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  orchestrator:
    name: Orchestrator
    runs-on: ubuntu-latest
    outputs:
      changed-directories: ${{ steps.changed-directories.outputs.all_changed_and_modified_files_count > 0 && steps.changed-directories.outputs.all_changed_files || null }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@v44
        id: changed-directories
        with:
          files_ignore: |
            .github/**
            *
          dir_names: true

  docker:
    name: Docker
    if: ${{ needs.orchestrator.outputs.changed-directories }}
    needs:
      - orchestrator
    strategy:
      fail-fast: false
      matrix:
        base:
          - php/8.2/fpm-nginx
          - php/8.3/fpm-nginx
          - php/8.3/fpm-apache
          - php/8.0/cli
          - php/8.2/cli
          - php/8.3/cli
        exclude:
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.2/fpm-nginx') && 'ignored' || 'php/8.2/fpm-nginx' }}
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.3/fpm-nginx') && 'ignored' || 'php/8.3/fpm-nginx' }}
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.3/fpm-apache') && 'ignored' || 'php/8.3/fpm-apache' }}
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.0/cli') && 'ignored' || 'php/8.0/cli' }}
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.2/cli') && 'ignored' || 'php/8.2/cli' }}
          - base: ${{ contains(needs.orchestrator.outputs.changed-directories, 'php/8.3/cli') && 'ignored' || 'php/8.3/cli' }}
    uses: ./.github/workflows/docker.yaml
    with:
      image-version: ${{ github.event.pull_request.head.sha }}
      dockerfile-directory: ${{ matrix.base }}
      repository: ${{ matrix.base }}
    permissions:
      contents: read
      id-token: write
      actions: read
      security-events: write
