name: Docker

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: false
      repository:
        type: string
        description: The name of the repository in the registry
        required: true
      dockerfile-directory:
        type: string
        description: The directory containing the Dockerfile
        required: true
      image-version:
        type: string
        description: The version of the image
        required: true
      push:
        type: boolean
        description: Whether to push the image to the registry
        default: false
      is-release:
        type: boolean
        description: Whether this is a release build
        default: false
      is-schedule-release:
        type: boolean
        description: Whether this is a release build that is ran from a schedule
        default: false

env:
  AWS_OIDC_ROLE: ${{ inputs.push && vars.TF_OIDC_ROLE || vars.TF_OIDC_READONLY_ROLE }}
  AWS_REGION: eu-west-1
  REGISTRY: 245185850403.dkr.ecr.eu-west-1.amazonaws.com
  REGISTRY_MIRROR: ghcr.io

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || null }}
          sparse-checkout: ${{ inputs.dockerfile-directory }}

      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ${{ inputs.dockerfile-directory }}/Dockerfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract all Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: latest=false
          images: |
            ${{ env.REGISTRY }}/${{ inputs.repository }}
            ${{ env.REGISTRY_MIRROR }}/dvsa/dvsa-docker-images/${{ inputs.repository }}
          tags: |
            type=semver,enable=${{ inputs.is-release || inputs.is-schedule-release }},pattern={{major}}.{{minor}},value=${{ inputs.image-version }}
            type=semver,enable=${{ inputs.is-release || inputs.is-schedule-release }},pattern={{major}},value=${{ inputs.image-version }}
            type=semver,enable=${{ inputs.is-release }},pattern={{version}},value=${{ inputs.image-version }}
            type=raw,value=latest

      - name: Configure AWS credentials
        if: ${{ inputs.push }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_OIDC_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
        
      - name: Create repository 
        uses: int128/create-ecr-repository-action@v1
        id: ecr
        with:
          repository: ${{ inputs.repository }}

      - name: Login to ${{ env.REGISTRY }}
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}

      - name: Extract mutable Docker metadata
        if: ${{ inputs.push }}
        id: mutable-meta
        uses: docker/metadata-action@v5
        with:
          # Only required for ECR (the main registry) as the mirror registry (GHCR) doesn't support tag immutability.
          images: ${{ env.REGISTRY }}/${{ inputs.repository }}
          tags: |
            type=semver,enable=${{ inputs.is-release || inputs.is-schedule-release }},pattern={{major}}.{{minor}},value=${{ inputs.image-version }}
            type=semver,enable=${{ inputs.is-release || inputs.is-schedule-release }},pattern={{major}},value=${{ inputs.image-version }}
            type=raw,value=latest

      - name: Untag mutable tags
        if: ${{ inputs.push && steps.mutable-meta.outputs.tags }}
        env:
          MUTABLE_TAGS: ${{ steps.mutable-meta.outputs.tags }}
          REPOSITORY: ${{ inputs.repository }}
        run: |
          set -e

          MUTABLE_TAGS_UNIQUE=$(echo $MUTABLE_TAGS | tr ' ' '\n' | cut -d: -f2 | sort | uniq)

          for tag in $MUTABLE_TAGS_UNIQUE; do
            echo "Deleting tag $tag"
            aws ecr batch-delete-image --repository-name $REPOSITORY --image-ids imageTag=$tag
          done

      - name: Log into registry ${{ env.REGISTRY_MIRROR }}
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_MIRROR }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ inputs.push && 'and push ' || '' }}Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.dockerfile-directory }}
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ inputs.repository }}
          cache-to: type=gha,mode=max,scope=${{ inputs.repository }}

      - name: Setup Notation CLI
        if: ${{ inputs.push }}
        uses: notaryproject/notation-action/setup@v1
        with:
          version: "1.1.0"

      - name: Sign artefact
        if: ${{ inputs.push }}
        uses: notaryproject/notation-action/sign@v1
        with:
          plugin_name: com.amazonaws.signer.notation.plugin
          plugin_url: https://d2hvyiie56hcat.cloudfront.net/linux/amd64/plugin/latest/notation-aws-signer-plugin.zip
          plugin_checksum: cccfe8fdcdf853d83fd57ffc80524eddda75ad7ae9d9a257b087007230ec02f9
          key_id: arn:aws:signer:eu-west-1:245185850403:/signing-profiles/base_image_signer20240410115736478500000001
          target_artifact_reference: ${{ env.REGISTRY }}/${{ inputs.repository }}@${{ steps.build-and-push.outputs.digest }}

  scan:
    runs-on: ubuntu-latest
    name: Scan
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || null }}
          sparse-checkout: ${{ inputs.dockerfile-directory }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.dockerfile-directory }}
          platforms: linux/arm64
          load: true
          tags: image-scan:latest
          cache-from: type=gha,scope=${{ inputs.repository }}

      - name: Scan
        id: scan
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ${{ steps.build-and-push.outputs.imageid }}
          exit-code: '1'
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "MEDIUM,HIGH,CRITICAL"
          limit-severities-for-sarif: true

      - name: Upload Trivy scan results to GitHub Code Scanning
        if: ${{ always() && !cancelled() && steps.scan.outcome == 'success' || steps.scan.outcome == 'failure' }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
